<header>
  <nav class="header-nav">
    <a class="header-title" href="/">
      <h1 id="Header">Reader.<span id="comred">com</span></h1></a>
    <style>

      #Header{
        color: black;
        font-weight: bolder;
    }

    #comred{
        color: red;
    }

    </style>
    <ul>
      <% if (user) { %>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Book</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/create">Create new Account</a></li>
        <% } %>
    </ul>
  </nav>
</header>