<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - User Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: rgb(116, 226, 241);
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
          }
          
          .container {
            text-align: center;
            padding-top: 100px; /* Add some top padding */
          }
          
          h1 {
            font-size: 4em;
            margin-bottom: 0;
          }
          
          p {
            font-size: 1.5em;
            margin-top: 0;
          }
          
          a {
            color: #007bff;
            text-decoration: none;
          }
          
          a:hover {
            text-decoration: underline;
          }
  
    </style>
</head>
<body>
    <div class="container">
        <h1>404</h1>
        <p>User aldready exists</p>
        <p><a href="/login">Procced to login</a></p>
    </div>
</body>

